body {
    background-color: #592222;
}

#iframe {
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

#iframe h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #ffffff;
}

#iframe > div {
    font-size: 16px;
    font-weight: normal;
}
